<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dana Rocha</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <link href="../styles/old_main.css" rel="stylesheet">
</head>
<body>

<header>
<!-- Navigation -->
<nav class="navbar navbar-expand-md navbar-light bg-light py-4">
<div class="container-fluid">
  <a class="navbar-brand" id="brand" href="#">DANA ROCHA</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-target="#navbarResponsive">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link mx-2" href="https://www.merck.com/" target="_blank">WORK</a>
      </li>
      <li class="nav-item">
        <a class="nav-link mx-2" href="../resume/DanaRocha_Resume.pdf">RESUME</a>
      </li>
      <li class="nav-item">
        <a class="nav-link mx-2" href="#">ABOUT</a>
      </li>
  </div>
</div>
</nav>
<header>

<main>
<!-- About Secton -->
<div class="row text-center">
  <div class="welcome">
    <img class="profile-pic avatar" src="../media/github.jpg" alt="Profile Picture">
      <h1><strong>Dana Rocha<strong></h1>
      <h4>Recent graduate of Northeastern University - studied <span style="color: #1B9CE5;">Bioinformatics and Data Analytics</span>.
        Passionate about leveraging data and technology to make informed data-driven decisions.
      </h4>
      <h4>Previously at <a href="https://www.merck.com/" target="_blank" class="highlight">Merck & Co.</a>, <a href="https://ecdivers.com/" target="_blank" id="highlight">East Coast Divers</a>, <a href="https://orig3n.com/" target="_blank" id="highlight">Orig3n Inc.</a>, and <a href="https://www.brighamandwomens.org/" target="_blank">Brigham and Women's Hospital</a>.
      </h4>
      <h4>Learn more about me or check out my work. Do we share something in common? <a href="mailto:dbridgette.rocha@gmail.com"><strong>Let's Connect→</strong></a></h4>
  </div>
</div>

<hr class="my-4">

<div class="row current">
  <div class="column col-lg-6">
  <h6 class="update-section"><strong> NOW </strong></h6>
    <p> Student Facilitator Volunteer @ Northeastern's Graduate Leadership Insitute </p>
    <p> Completing personal projects (such as launching this site!) </p>
  </div>
  <br>
  <div class="column col-lg-6">
  <h6 class="update-section"><strong> LATEST </strong></h6>
   <p> Actively looking for full-time roles </p>
  </div>
</div>

<hr class="my-4">

<div class="row">
  <div class="experience">
  <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
     Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
     eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
     sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor
     sit amet, consectetur adipiscing elit, sed do eiusmod
       tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
       quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
        eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
        sunt in culpa qui officia deserunt mollit anim id est laborum."
  </p>
  </div>
</div>

<hr class="my-4">

<div class="row">
  <div class="experience">
  <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
     Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
     eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
     sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor
     sit amet, consectetur adipiscing elit, sed do eiusmod
       tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
       quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
        eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
        sunt in culpa qui officia deserunt mollit anim id est laborum."
  </p>
  </div>
</div>

</main>

<!--- Footer -->
<footer id="main-footer">
  <div class="social">
    <a href="https://www.linkedin.com/in/rochadana/"><i class="fab fa-linkedin"></i></a>
    <a href="https://github.com/dana-rocha"><i class="fab fa-github"></i></a>
    <a href="mailto:dbridgette.rocha@gmail.com"><i class="fas fa-envelope"></i></a>
  </div>
  <div class="footer_copy">
    <h6><strong> &copy; 2021 Dana Rocha </strong></h6>
  </div>
</footer>

</body>
</html>
