<!DOCTYPE html>
	<html lang='eng'>
		<head>
			<meta charset="UTF-8"/>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="resume/DanaRocha_Resume.pdf">Resume</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:dbridgette.rocha@gmail.com">Email</a></li>
				<li><a href="https://www.linkedin.com/in/rochadana/">LinkedIn</a></li>
	        		<li><a href="https://github.com/dana-rocha">Github</a></li>
				</ul>
			</footer>
		</body>
	</html>
