/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');


html, body, footer {
  font-family: 'Lora', 'Noto Serif', serif, sans-serif;
  color: #222;
  height: 100%;
  width: 100%;
}

main {
  width: 70%;
  padding-top: 6rem;
  margin: auto;
}

/* Navigation Bar */
.nav-link {
  color: #222 !important;
}

.navbar-brand, .nav-link {
  letter-spacing: 3px;
}

.navbar-brand {
  padding-left: 30px;
}

.navbar-nav {
  padding-right: 30px;
}

/* Main */

h1 {
  font-weight: 900;
  letter-spacing: 3px;
}

h3 {
  padding-top: 1.5rem;
}

.half {
  float: left;
  width: 50%;
}

.profile-pic {
  border-radius: 50%;
  width: 250px;
  height: 250px;
}

/* Footer */
footer {
  padding: 30px 30px;
  align-items: center;
  display: flex;
  justify-content: space-around;
  /*border: 2px solid blue;*/
}


.social a {
  color: #222;
  font-size: 25px;
  padding-right: 10px;
}
